html {
  height: 100%;
  width: 100%;
}
h3 {
  text-align: center;
}
p {
  font-size: 20px;
}
ul {
  font-size: 20px;
}
ol {
  font-size: 20px;
}
marquee {
  font-size: 20px;
  color: red;
  font-weight: bold;
}
small {
  color: red;
  font-weight: bold;
}
sub {
  color: red;
  font-weight: bold;
}